# estado de interface do KiCad, nao faz parte do projeto
*.kicad_prl
fp-info-cache

# backups automaticos
*-backups/
*.kicad_sch-bak
*.kicad_pcb-bak

# historico local de editor
.history/

# arquivos de trava de sessao do KiCad
*.lck
